# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "048f6a6650727669659c852aa2f01cd2"
name = "xrpl-checkout-app"
application_url = "https://link-shopify-goldfish-app-rlrny.ondigitalocean.app/"
embedded = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_payment_customizations,write_payment_customizations,write_products,read_checkouts,write_draft_orders,write_orders"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
